<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <title>아이오티링크</title>
  <link rel="stylesheet" href="css/plugin/reset.css"/>
  <!-- <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" href="font/font.css"/>
  <link rel="stylesheet" href="css/main.css"/>

  <script src="js/plugin/jquery-3.4.1.min.js"></script>
  <script src="js/main.js"></script>

  <meta property="og:image" content="../img/oj.jpg"><!-- 1500 1500-->
  <meta property="og:description" content="이미지를 업로드하고, 파손부위 검출을 해보세요.">
  <meta property="og:title" content="아이오티링크">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="favicon" href="" type="image/x-icon">

</head>
<body>



  <main id="main">
      <div class="bg"></div>
      <div class="deco_txt">IOT--LINK</div>

      <article class="contents">
        <div class="title">차량 파손도 추출</div>
        <div class="bar"></div>
        <div class="sub_txt">
            이미지를 업로드 하면, 차량의 파손 영역을 추출해 줍니다.
        </div>
          <div id="file_drop" class="contents_box" dropzone="copy" title="drop files for upload">
              <p>이미지를 업로드하세요.</p>
              <div>
                  <label class="btn" for="input-file"><img src="img/plus.png" alt="+"></label>
                  <input type="file" name="file" accept="image/*" id="input-file" style="display: none;">
              </div>
              <button class="btn2">파손도 분석하기</button>
          </div>

      </article>


  </main>

  <section id="process">
    <article>
        <div class="num">10%</div>
        <div class="bar"><div></div></div>
    </article>

  </section>


  <section id="pop">
      <div class="bg"></div>
      <button class="close"><img src="img/close.png" alt="close"></button>
      <article class="pop_contents">
          <div class="title">파손도 분석결과</div>
          <div class="bar"></div>
          <div class="pop_contents_box">
              <div><img id='img_result' alt="분석 결과"></div>
              <div><strong>파손도 영역:<p id="damage_rate_calculated"></p>%</strong></div>
          </div>
      </article>


  </section>




  <h1 class="logo"><a href="index.html">아이오티링크</a></h1>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/siofu/client.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(){

      // Initialize instances:
      var socket = io.connect();
      var siofu = new SocketIOFileUpload(socket);

      // Configure the three ways that SocketIOFileUpload can read files:
      siofu.listenOnInput(document.getElementById("input-file"));
      siofu.listenOnDrop(document.getElementById("file_drop"));
      // Do something on upload progress:
      // siofu.addEventListener("progress", function(event){
      //     var percent = event.bytesLoaded / event.file.size * 100;
      //     console.log("File is", percent.toFixed(2), "percent loaded");
      // });

      const handler = {
        "blur": null
      };

      // Do something when a file is uploaded:
      siofu.addEventListener("complete", function(event){
        if(handler.blur)
          document.querySelector('#main .contents .btn2').removeEventListener('click', handler.blur)
        handler.blur = e => {
          e.preventDefault();
          $('#process').addClass('on');
          $('#process .bar > div').width(0);
          socket.emit('Detection start', event.detail.filename);
        }
        document.querySelector('#main .contents .btn2').addEventListener('click', handler.blur);
      });
      socket.on('Detection progress', function(progress){
          $('#process .bar > div').width(progress + '%');
      })
      socket.on('Detection succeeded', function(res){
        $('#pop').fadeIn();
        document.querySelector('#img_result').src='/' + res.filename;
        document.querySelector('#damage_rate_calculated').innerHTML=res.damaged_rate
        console.log(res.damaged_rate);
      });
    }, false);
  </script>
</body>
</html>