/*
Font: 		MADE TOMMY
Style:
URL: 		https://www.youworkforthem.com/font/T11925/made-tommy
Foundry: 	MadeType
Foundry: 	https://www.youworkforthem.com/designer/1002/madetype
Copyright:	Copyright (c) 2020 by MadeType. All rights reserved.
Version: 	17
Created:	February 16, 2020
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted
			from using the WebFonts(s) listed without a purchased license.
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'SpoqaHanSans';
	font-weight: 700;
	src: local('SpoqaHanSansBold'),
	url('../font/SpoqaHanSansBold.woff2') format('woff2'),
	url('../font/SpoqaHanSansBold.woff') format('woff'),
	url('../font/SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-weight: 400;
	src: local('SpoqaHanSansRegular'),
	url('../font/SpoqaHanSansRegular.woff2') format('woff2'),
	url('../font/SpoqaHanSansRegular.woff') format('woff'),
	url('../font/SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-weight: 300;
	src: local('SpoqaHanSansLight'),
	url('../font/SpoqaHanSansLight.woff2') format('woff2'),
	url('../font/SpoqaHanSansLight.woff') format('woff'),
	url('../font/SpoqaHanSansLight.ttf') format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-weight: 100;
	src: local('SpoqaHanSansThin'),
	url('../font/SpoqaHanSansThin.woff2') format('woff2'),
	url('../font/SpoqaHanSansThin.woff') format('woff'),
	url('../font/SpoqaHanSansThin.ttf') format('truetype');
}

@font-face {
	font-family: 'MADETOMMY';
	src: url('made-tommy.eot');
	src: url('made-tommy.eot?#iefix') format('embedded-opentype'),
	url('made-tommy.woff2') format('woff2'),
	url('made-tommy.woff') format('woff'),
	url('made-tommy.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MADETOMMY-Black';
	src: url('made-tommy-black.eot');
	src: url('made-tommy-black.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-black.woff2') format('woff2'),
	url('made-tommy-black.woff') format('woff'),
	url('made-tommy-black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'MADETOMMY-Bold';
	src: url('made-tommy-bold.eot');
	src: url('made-tommy-bold.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-bold.woff2') format('woff2'),
	url('made-tommy-bold.woff') format('woff'),
	url('made-tommy-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'MADETOMMY-ExtraBold';
	src: url('made-tommy-extrabold.eot');
	src: url('made-tommy-extrabold.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-extrabold.woff2') format('woff2'),
	url('made-tommy-extrabold.woff') format('woff'),
	url('made-tommy-extrabold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'MADETOMMY-Light';
	src: url('made-tommy-light.eot');
	src: url('made-tommy-light.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-light.woff2') format('woff2'),
	url('made-tommy-light.woff') format('woff'),
	url('made-tommy-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}





@font-face {
	font-family: 'MADETOMMY-Medium';
	src: url('made-tommy-medium.eot');
	src: url('made-tommy-medium.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-medium.woff2') format('woff2'),
	url('made-tommy-medium.woff') format('woff'),
	url('made-tommy-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'MADETOMMYOutline';
	src: url('made-tommy-outline.eot');
	src: url('made-tommy-outline.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-outline.woff2') format('woff2'),
	url('made-tommy-outline.woff') format('woff'),
	url('made-tommy-outline.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'MADETOMMYOutline-Black';
	src: url('made-tommy-outline-black.eot');
	src: url('made-tommy-outline-black.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-outline-black.woff2') format('woff2'),
	url('made-tommy-outline-black.woff') format('woff'),
	url('made-tommy-outline-black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'MADETOMMYOutline-Bold';
	src: url('made-tommy-outline-bold.eot');
	src: url('made-tommy-outline-bold.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-outline-bold.woff2') format('woff2'),
	url('made-tommy-outline-bold.woff') format('woff'),
	url('made-tommy-outline-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MADETOMMYOutline-ExtraBold';
	src: url('made-tommy-outline-extrabold.eot');
	src: url('made-tommy-outline-extrabold.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-outline-extrabold.woff2') format('woff2'),
	url('made-tommy-outline-extrabold.woff') format('woff'),
	url('made-tommy-outline-extrabold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}





@font-face {
	font-family: 'MADETOMMYOutline-Light';
	src: url('made-tommy-outline-light.eot');
	src: url('made-tommy-outline-light.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-outline-light.woff2') format('woff2'),
	url('made-tommy-outline-light.woff') format('woff'),
	url('made-tommy-outline-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'MADETOMMYOutline-Medium';
	src: url('made-tommy-outline-medium.eot');
	src: url('made-tommy-outline-medium.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-outline-medium.woff2') format('woff2'),
	url('made-tommy-outline-medium.woff') format('woff'),
	url('made-tommy-outline-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'MADETOMMYOutline-Thin';
	src: url('made-tommy-outline-thin.eot');
	src: url('made-tommy-outline-thin.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-outline-thin.woff2') format('woff2'),
	url('made-tommy-outline-thin.woff') format('woff'),
	url('made-tommy-outline-thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'MADETOMMY-Thin';
	src: url('made-tommy-thin.eot');
	src: url('made-tommy-thin.eot?#iefix') format('embedded-opentype'),
	url('made-tommy-thin.woff2') format('woff2'),
	url('made-tommy-thin.woff') format('woff'),
	url('made-tommy-thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




























