@charset "utf-8";
html, body {height: 100%;overflow-y: scroll}

body {position: relative;font-family:'SpoqaHanSans','MADETOMMY', "Dotum", "Arial", sans-serif;font-size: 12px;color: #333;background: white; text-align: center; line-height: 1.5;}
.bg{width: 100%; height: 25%; background: linear-gradient(to right bottom,#3b49f4,#8a48fc); position: fixed;left: 0; bottom: 0;}
.title{margin-bottom:35px; font-size: 30px;}
.bar{width: 17px; height: 1px; background: #000; margin: 0 auto 35px;}
.sub_txt{margin-bottom: 62px; font-size: 20px;}




#main{width: 100%; height: 100%; position: fixed;left: 0; top: 0; background: #fff; word-break: keep-all;}
#main .deco_txt{position:  absolute; left: 50%; top: 50%; margin:-100px 0 0 -950px; font-size: 300px; font-family: 'MADETOMMYOutline-Bold'; letter-spacing: 50px;}


#main .contents{width: 40%; position:  absolute; left: 50%; top: 12%; margin-left:-20%;}


#main .contents .contents_box{padding: 10%;background: #fff; box-shadow: 1px 1px 10px rgba(0,0,0,.1); margin: 0 auto 5%; border-radius: 30px;}
#main .contents .contents_box > p{font-size: 30px; font-weight: 400;padding-top: 5%; color: #d5d5d5; margin-bottom: 5%;}
#main .contents .contents_box > div{margin-bottom: 5%;}
#main .contents .contents_box .btn{}
#main .contents .contents_box .btn > img{width: 6.5%;transition: transform .5s;}
#main .contents .contents_box .btn:hover > img{transform: rotate(360deg);}



#main .contents .btn2{display: block; width: 300px; height: 50px; background: linear-gradient(to right bottom,#3b49f4,#8a48fc); border: none; margin: 0 auto; border-radius: 50px; line-height: 50px; color: #fff; font-size: 20px; transition: box-shadow .5s; cursor: pointer;}
#main .contents .btn2:hover{ box-shadow: 1px 1px 10px rgba(0,10,10,.7);}



#process{width: 100%; height: 100%; position: fixed;left: 0; top: 0; background: #fff; word-break: keep-all; z-index: 999; display: none;}
#process.on{display: block;}
#process > article{width: 40%; margin: 0 auto; text-align: center;}
#process > article .num{margin-bottom: 3%; font-size: 20px; color: #000; padding-top: 54%;}
#process > article .bar{width: 100%; height: 50px; background: #fff; box-shadow: 1px 1px 10px rgba(0,0,0,.1); border: 5px solid #333333; border-radius: 40px;}
#process > article .bar > div{width: 0; height: 50px; background: linear-gradient(to right bottom,#3b49f4,#8a48fc); border-radius: 40px;}
#process.on > article .bar > div{animation:bar 5s .2s forwards linear normal; }


@keyframes bar {
    0%{width: 0;}
    100%{width: 100%;}
}






#pop{width: 100%; height: 100%; position: fixed;left: 0; top: 0; background: #fff; word-break: keep-all; z-index: 9999; display: none;}
#pop .close{position: absolute; right: -4%; top: 2%; cursor: pointer; transition: all 1s; border: none; background: transparent;}
#pop .close > img{width: 15%;}
#pop .close:hover{transform: rotate(360deg);}

#pop .pop_contents{width: 30%; padding: 3% 5%; background: #fff; box-shadow: 1px 1px 10px rgba(0,0,0,.1); position:  absolute; left: 50%; top: 18%; margin-left:-20%; font-size: 20px; word-break: keep-all; border-radius: 50px;}
#pop .pop_contents_box{}
#pop .pop_contents_box > div:nth-child(1){margin-bottom: 10%;}
#pop .pop_contents_box > div:nth-child(2){width: 100%;height: 60px;background: linear-gradient(to right bottom,#3b49f4,#8a48fc);margin: 0 auto;border-radius: 50px;line-height: 60px;color: #fff;font-size: 25px;transition: box-shadow .5s;font-weight: 200;}
#pop .pop_contents_box > div:nth-child(2) > strong{display: inline-flex; font-weight: 400;}










.logo{position: absolute; left: 1%; top: 2%; font-size: 20px; z-index: 9999;}
.logo > a{color: #000;}













@media only screen and (max-width: 12450px) {}
























